name: Generate Red Snake

on:
  schedule:
    - cron: "0 */12 * * *" # Runs every 12 hours automatically
  workflow_dispatch:       # Allows you to run it manually
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Red Snake
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            # This generates the Red Snake in Dark Mode
            dist/github-snake-red.svg?palette=github-dark&color_snake=#FF0000

      - name: Push to Output Branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
